__pycache__
fact_d1.txt
fact_d2.txt
fact_iq.txt
fact_sn.txt
fact_st.txt
fibo_beq_d1.txt
fibo_beq_d2.txt
fibo_beq_iq.txt
fibo_beq_sn.txt
fibo_beq_st.txt
fibo_bne_d1.txt
fibo_bne_d2.txt
fibo_bne_iq.txt
fibo_bne_sn.txt
fibo_bne_st.txt
new_instruction_d1.txt
new_instruction_d2.txt
new_instruction_iq.txt
new_instruction_sn.txt
new_instruction_st.txt